@import "main";
@import "header";

.contact__header {
  margin-top: 90px;
  position: relative;
  img {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .contact__header_content {
    position: absolute;
    z-index: 1;
    top: 22%;
  }
    h1 {  
      margin-top: 12%;
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 48px;
      color: #fff;
      text-transform: uppercase;
      background-color: #000;
      padding: 0 35px;
      @include max-screen($mobile_res) {
        font-size: 40px;
      }
    }
    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 8px;
      margin-top: 40px;
    }
}

.info {
  padding: 82px 0;
  @include max-screen($tablet_res) {
    padding: 42px 0;
  }
}

.info .wrapper:after {
  content: "";
  clear: both;
  display: block;
}

/*office info */

.office-info {
  max-width: 328px;
  margin-right: 60px;
  float: left;
  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 16px;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #2f302f;
    margin-bottom: 44px;
    &::after {
      content: "_________";
      display: block;
      color: #000;
    }
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #777;
    line-height: 24px;
    margin-bottom: 32px;
    &:nth-child(5) {
      margin-bottom: 0;
      font-weight: 600;
    }
    &:last-child { 
      font-weight: 600;
      margin-bottom: 0;
    }
    span {
      font-weight: 600;
      color: #000;
    }
    @include max-screen($mobile_res) {
      &:last-child {
        margin-bottom: 32px;
      }
    }
  }
}

/*office info end */

/*form*/

form {
  display: flex;
  flex-direction: column;
  @include max-screen($mobile_res) {
    width: 100%;
  }
  .form-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include max-screen($mobile_res) {
      flex-direction: column;
    }
      input {
        width: 47%;
        border: solid 1px #ebebeb;
        border-radius: 2px;
        height: 40px;
        line-height: 40px;
        padding-left: 12px;
        display: inline-block;
        margin-bottom: 32px;
        box-sizing: border-box;
        @include max-screen($mobile_res) {
          width: 100%;
        }
      }
    textarea {
      display: block;
      width: 100%;
      border: solid 1px #ebebeb;
      border-radius: 2px;
      height: 150px;
      padding-left: 12px;
      padding-top: 12px;
      margin-bottom: 32px;
      box-sizing: border-box;
      resize: none;
    }
    button {
      background-color: #000;
      padding: 14px 55px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 14px;
      border: none;
      border-radius: 2px;
      text-transform: uppercase;
    }
  }
}

form input::placeholder, textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #bababa;
}

.map {
  width: 100%;
  height: 360px;
}

.our-values {
  text-align: center;
  padding-top: 70px;
  max-width: 600px;
  margin: auto;
  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }
  p {
  font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    line-height: 30px;
    margin-bottom: 60px;
  }
}

.tiles {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px; 
  @include max-screen($tablet_res) {
  }
}

.tile {
  max-width: 354px;
  @include max-screen($tablet_res) {
    margin-bottom: 60px;
    &:nth-child(2) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    img {
      width: 100%;
    }
    @include max-screen($mobile_res) {
      max-width: 100%;
    }
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 25px 0 40px 0; 
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    line-height: 30px;
  }
}

@import "footer";