
$bg_color: #fafafa;
$accent_color: #000;
$divider_color: #e1e1e1;
$gray_text_color: #777;

$tablet_res: 768px;
$mobile_res: 414px;

body {
  height: 100%;
  background-color: $bg_color;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}