
@import "mixins";

$bg_color: #fafafa;
$accent_color: #000;
$divider_color: #e1e1e1;
$gray_text_color: #777;

$tablet_res: 768px;
$mobile_res: 414px;

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: $bg_color;
  overflow-x: hidden;
}

//wrappers

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.wrapper_975 {
  max-width: 975px;
  padding: 0 15px;
  margin: auto;
}

.wrapper_810 {
  max-width: 840px;
  padding: 0 15px;
  margin: auto;
}

//wrappers and

//fonts

h1 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  padding: 0 35px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 30px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #777;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #071f08;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #777;
  line-height: 24px;

  span {
       font-weight: 600;
       color: #000;
     }
}

blockquote {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #777;
  line-height: 30px;
  font-style: italic;
}

//fonts end

//form

input {
  border: solid 1px #ebebeb;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border-left: solid 4px #c8c8c8;
  }
}

textarea {
  display: block;
  width: 100%;
  border: solid 1px #ebebeb;
  border-radius: 2px;
  padding-left: 12px;
  padding-top: 12px;
  box-sizing: border-box;
  resize: none;
  &:focus {
    border-left: solid 4px #c8c8c8;
  }
}

button {
  background-color: #000;
  padding: 14px 55px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}

form input::placeholder, textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #bababa;
}

//form end

//page banner

.contact__header {
  margin-top: 90px;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .contact__header_content {
    position: absolute;
    z-index: 1;
    top: 22%;
  }
  h1 {
    margin-top: 12%;
    @include max-screen($mobile_res) {
      font-size: 40px;
    }
  }
  h2 {
    margin-top: 40px;
  }
}

//page banner end

//buttons

.nav_button {
  display: block;
  padding: 26px 0;
  text-align: center;
  min-width: 164px;
  border-left: solid 1px #ebebeb;
  border-right: solid 1px #ebebeb;
  display: flex;
  justify-content: center;
}

.icon-right {
    i {
      font-size: 8px;
      color: #000;
      margin-left: 14px;
      margin-top: 3px;
    }
}

.icon-left {
  i {
    font-size: 8px;
    color: #000;
    margin-right: 14px;
    margin-top: 3px;
  }
}


//buttons end