* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    outline: none;
    text-decoration: none;
}

img {
    border: none;
}

body {
    height: 100%;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 0 20px;
    border-radius: 20px;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{
    background-color: #fff;
    width: 14px;
    height: 14px;
    margin: 0 20px;
    border-radius: 20px;
    border: solid 4px transparent;
}

.owl-nav{
    display: none;
}

.owl-dots{
    position: absolute;
    bottom: 56px;
    width: 100%;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot.active{
    border: solid 4px black;
}