@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jmbg41');
  src:  url('fonts/icomoon.eot?jmbg41#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jmbg41') format('truetype'),
    url('fonts/icomoon.woff?jmbg41') format('woff'),
    url('fonts/icomoon.svg?jmbg41#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_cross:before {
  content: "\e909";
}
.icon-ic_facebook:before {
  content: "\e901";
}
.icon-ic_google:before {
  content: "\e903";
}
.icon-ic_twitter:before {
  content: "\e904";
}
.icon-ic_linkedin:before {
  content: "\e905";
}
.icon-ic_dribbble:before {
  content: "\e906";
}
.icon-ic_pinterest:before {
  content: "\e907";
}
.icon-ic_instagram:before {
  content: "\e908";
}
.icon-ic_search:before {
  content: "\e900";
}
.icon-next_arrow:before {
  content: "\32";
  color: #fff;
}
.icon-prev_arrow:before {
  content: "\e902";
  color: #fff;
}
.icon-highlight_line:before {
  content: "\6c";
}
